# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
build/
dist/

# Virtual envs
.venv/
venv/
env/

# Editor / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Project artifacts
runs/
*.pkl
*.ckpt
events.out.tfevents.*

# Notebook outputs
.ipynb_checkpoints/
